@model Credibled.Models.ReferenceRequest

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ReferenceRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CandidateEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CandidateEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CandidateId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CandidateId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CandidateJobDuties)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CandidateJobDuties)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CandidateStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CandidateStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefereeEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefereeEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefereeEmployer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefereeEmployer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefereeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefereeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefereeTelephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefereeTelephone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefereeTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefereeTitle)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
